.float-right1,.float-right2,.float-right3{
    float:right;
    font-size: 20px;
    top:0;
   
}

.float-right3{
    background-color: orange;
    width: 120px;
    color: white;

}
.float-right2{
    background-color: rgb(2, 247, 145);
    width: 120px;
    color: white;

}
.float-right1{
    background-color: rgb(243, 4, 16);
    width: 120px;
    color: white;

}